/*
 *
 *
 */
form{
	
}

input, select{
	box-sizing: border-box;
	width: 100%;
	margin: 7.5px 0px;
	padding: 10px;
	border: 1px solid #ccc;
	
	font-size: 0.95rem;
	
	background: #fff;
}
.input-100{
	width: 100%;
}
.input-50{
	width: 49.5%;
}
.input-30{
	width: 32%;
}

/*
 *
 *
*/
.center-form-wrapper > form{
	align-self: center;
	
	width: 450px;
	border-radius: 5px;
	padding: 15px;
	
	background: #fff;
}
.center-form-wrapper > form > input:first-child{
	margin-top: 0px;
}
.center-form-wrapper > form > input:last-child{
	background: #0872A3;
	margin-bottom: 0;
	
	font-size: 1.05rem;
	color: #fff;
}

/*
 *
 */
.rcp-form, .rdc-form{
	padding: 20px;
}
.rcp-form{
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px solid #ccc;
}
.rdc-form > div:first-child, .rcp-form > div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.rdc-form > input:last-child{
	float: right;
	
	margin-top: 25px;
	
	font-size: 1.05rem;
	font-weight: bold;
	background: #4A9B61;
	color: #ffffff;
}

.rcp-form > div > input{
	font-size: 1.05rem;
	font-weight: bold;
	background: #4A9B61;
	color: #fff;
}